/* this file is intended for custom styles */


.comment-container {
	border-bottom: 1px solid #eee;
	float: left;
	width: 100%;
}

.comment-user {
	text-align: center;
	margin: 5px 0;
}

.comment-avatar {
	width: 80px;
}

.answer-avatar {
	width: 40px;
	float: left;
	margin: 0 5px 0 0;
}

.comment-content {
    border-left: 1px solid #eee;
    padding: 0 0 0 10px;
    float: left;
    width: 100%;
}

.comment-header {
	font-weight: bolder;
	margin: 0 0 15px 0;
}

.comment-text {
	border-top: 1px solid #eee;
	margin: 10px 0 0 0;
	padding: 10px 0;
}

.answer-container {

}

.comments-answers {
    padding: 5px 0 5px 10px;
    border-left: 5px solid #eee;
    float: left;
    clear: both;
    width: 100%;
}

.comments-feedback {
	width: 100%;
}

.answer-form {
	display: block;
	margin: 5px 0 0 0;
}

.answer-date {
	font-size: 0.8em;
	width: 100%;
	float: left;
}

.second-level {
	margin: 5px 0 0 0;
}

/**************jQuery******************/

#answer-form-text {
	margin: 5px 0;
}